{app_vars_file, "app.vars"}.
{deps, [
    {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {tag, "2.0.0"}}},
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}}
 ]}.
{escript_name, "pg_graph_dump"}.
{escript_incl_apps, [getopt, epgsql]}.
{lib_dirs,["deps"]}.